@import 'helpers.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	&::selection {
		background: $darkOlive;
		color: white
	}
}
html {
	scroll-behavior: smooth;
}
input, textarea {
	outline: none;
	box-shadow: none;
}
body {
	font-family: 'Lato', sans-serif;
	color: $darkOlive;
}
a {
	color: inherit;
	text-decoration: none;
	transition: all .25s;

}
ul, ol {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
}
button {
	display: inline-block;
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;

}
.main-wrap {
	max-width: 2400px;
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	align-items: center;
	&__logo {

	}
	&__tel {

	}
}
.promo-first {
	background: $darkOlive;
	padding: 10px 0;
	p {
		color: $white;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
}
.promo-second {
	color: $white;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	background: $red;
}

.intro {
	display: flex;
	&__left, &__right {
		width: 50%;
	}
	&__left {
		padding: 40px 20px 20px 20px;
		h1 {
			font-weight: bold;
			line-height: 1;
			margin-bottom: 25px;
			font-size: 50px;
			@include titleFont;
		}
	}
	&__right {
		display: grid;
		justify-items: end;
		grid-gap: 0px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		img {
			max-width: 100%;
		}
	}
	&__btn {
		display: inline-block;
		margin-top: 50px;
	}
}
.section-title {
	@include titleFont;
	margin-bottom: 20px;
	font-size: 50px;
	position: relative;
	&_small {
		font-size: 30px;
		padding-bottom: 10px;
	}
	&:after {
		display: block;
		content: '';
		height: 1px;
		width: 100%;
		margin-top: 10px;
		background: $lightGray;
	}
}
.btn {
	text-transform: uppercase;
	font-weight: bold;
	&_gold {
		background: $lightGray;
		&:hover {
			background: $lightGold;
			color: $white;
		}
	}
	&_solid {
		border: 2px solid $darkOlive;
		&:hover {
			background: $darkOlive;
			color: $white;
		}
	}
	&_dark {
		border: 2px solid $darkOlive;
		background: $darkOlive;
		color: $white;
		&:hover {
			background: transparent;
			color: $darkOlive;
		}
	}
	&_green {
		background: #090;
		color: $white;
		border: 2px solid #090;
		&:hover {
			background: $white;
			color: $darkOlive;
		}
	}
	&_med {
		padding: 13px 23px;
		font-size: 12px;
		letter-spacing: 2px;
	}
}
.items {
	margin-top: 40px;
	padding-bottom: 60px;
	&__wrap {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}
	&__btns {
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}
	&__btn {
		margin: 40px 15px 0 15px;
	}
}
.item {
	position: relative;
	&:hover {
		.item__rows-visible {
			display: none;
		}
		.item__rows-hidden {
			display: block;
		}
		.item__img-next, .item__img-prev {
			display: block;
		}
		.item__inner {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
		}
	}
	&__img-wrap {
		position: relative;
	}
	&__img-next, &__img-prev {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 40px;
		background: rgba($darkOlive, 0.5);
	}
	&__img-next {
		left: auto;
		right: 0;
	}
	&__img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	&__rows {
		padding: 5px 10px;
	}
	&__rows-hidden {
		display: none;
	}
	&__row {
		display: grid;
		padding: 5px 0;
		grid-template-columns: 1fr 1fr;
		border-bottom: 2px solid $lightGray ;
	}
	&__row-el {
		&.is-avaliable {
			color: #090;
		}
	}
	&__btn {
		width: 100%;
		display: block;
		padding: 10px 20px;
		text-align: center;
	}
}

.text-section {
	background: #f9f9f9;
	&__box {
		overflow: hidden;
		p {
			margin: 15px 0
		}
		img {
			float: right;
			margin: 0 0 20px 20px;
			&:nth-of-type(even) {
				float: left;
				margin: 0 20px 20px 0;
				
			}
		}
		ul {
			margin: 15px 0;
		}
		li {
			margin-bottom: 10px;
		}
		
	}
}
.footer {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	font-size: 16px;
	&__left {
		width: 70%;
		padding: 20px;
		background: linear-gradient(89deg,#3f4955,#0f1316);
	}
	&__right {
		width: 30%;
		padding: 20px;
	}
	&__links {
		display: flex;
		li:not(:last-of-type) {
			margin-right: 10px;
			a {
				color: white;
				font-weight: bold;
				font-size: 16px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
	}
}

.testi {
	&__wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 30px;
	}
	&__item {
		display: grid;
		border: 1px solid $lightGray;
		grid-template-columns: 100px 2fr;
		grid-auto-rows: auto;
		grid-column-gap: 20px;
	}
	&__img {
		grid-row: 1/4;
	}
	&__author {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__time {
		margin-bottom: 10px;
		opacity: 0.8;
		font-size: 12px;
		font-style: italic;
	}
	&__comment {
	}
}
.breadcrumbs {
	padding: 20px 0;
	display: flex;
	li:not(:last-of-type) {
		margin-right: 10px;
		&:after {
			display: inline-block;
			vertical-align: middle;
			content: '>';
			margin-left: 10px;
		}
	}
}
.product {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	&__left {
		display: grid;
		grid-template-columns: 150px 1fr;
	}
	&__small-img {
		cursor: pointer;
		max-width: 150px;
		max-height: 150px;
		&.is-active {
			border-color: red;
		}
	}
	&__big-img {
		grid-row: 1/4;
		grid-column: 2/3; 
		width: 450px;
	}
	&__title {
		font-size: 30px;
		font-weight: bold;
	}
	&__price {
		font-size: 20px;
		font-weight: bold;
		margin: 20px 0 40px 0;
	}

	&__right {
		padding: 0 30px 30px 0;
	}
	&__divider {
		margin: 20px 0;
	}
	&__features {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-template-rows: none;
		grid-column-gap: 20px;
		&-row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 5px;
		}
		&-el {
			&:first-of-type {
				font-weight: bold;
			}
		}
		&-description {
			margin-top: 20px;
			grid-column: 1/3;
		}	
	}
	
}

.comments {
	margin: 20px 0;
	padding: 20px 0;
	&__box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
	
	&__left {

	}
	&__right {
		
	}
	&__text, &__name {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		border: 1px solid $lightGray;
		resize: none;
		padding: 10px;
		color: $darkOlive;
		font-family: 'Lato', sans-serif;
	}
	&__name {

	}
	&__no {
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
	}
	&__rating {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		span {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.comment {
	padding-bottom: 5px;
	padding-left: 120px;
	position: relative;
	border-bottom: 1px solid #f5f1ec;
	img {
		position: absolute;
		left: 0;
		top: 0;
	}
	h3 {
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			font-size: 14px;
			font-style: italic;
			font-weight: normal;
		}
	}
	time {
		margin: 10px 0;
		display: block;
		font-style: italic;
		font-size: 12px;
	}
	p {
		font-size: 14px;
	}
}



.to-top {
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;
	background: red;
	right: 40px;
	bottom: 100px;

}
.text-right {
	text-align: right;
}
.is-hidden {
	display: none;
}
.section-centered {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, .7);
}
.popup {
	background: white;
	padding: 20px 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 550px;
	&__title {}
	&__text {
		margin: 20px 0
	}
	&__btn-wrap {
		margin: 0 auto;
		text-align: center;
	}
}